.westock-logoimg{
    padding-top: 10px;
    margin: auto;   
}
.westock_tagimg{
    padding-bottom: 100px;
}
.westock-content{
    width: 80%;
    margin: auto;
    line-height: 2em;
     font-family: "Lexend", sans-serif;
     font-weight: 800;
     font-size: 20px;
     padding-top: 50px;
     padding-bottom: 300px;
}

.westock-content p{
    text-align: justify;
}

.westock-features{
    padding-bottom: 300px;
    font-family: 'Lexend';
    font-weight: 700;
    font-style: italic  ;
}

.featurehead{
    margin: 100px;
    font-family: 'Lexend';
    font-weight: 800;
}

.feature-content{
    width: 80%;
    line-height: 2em;
    padding: 50px;
    margin: auto;
}

.feature-container{
    display: flex;
    flex-direction: column;
}

.flex-right,
.flex-left{
    display: flex;
}
.flex-left{
    flex-direction: row-reverse;

}

.feature-image {
  width: 45%;
  max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-container{
    width: 40%;
    background-color: rgb(90, 197, 207);
    border-radius: 100px;
    padding: 15px;
    margin: auto;
}

.submit-btn{
    border-radius: 100px;
    height: 70px;
    width: 130px;
    background-color: rgb(213, 213, 213);
    transition-duration: .3s;
    margin-top: 55px;
}

.submit-btn:hover{
    border-radius: 150px;
    height: 70px;
    width: 130px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.input-field{
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    background-color: rgb(216, 216, 216);
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.checkbox-item {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 10px; 
}

@media(max-width:1056px){
    .input-field{
    border-radius: 15px;
    width: 200px;
}
.form-container{
    width: 70%;
    background-color: rgb(147, 194, 255);
    border-radius: 100px;
    padding: 15px;
    margin: auto;
}

}



@media(max-width:856px){
    .feature-content{
    width: 100%;
    line-height: 2em;
    padding: 50px;
    margin: auto;
}

.westock-img img{
    width: 50%;
    padding-top: 100px;
    height: auto;
    margin: auto;   
}
.westock-content img{
    width: 50%;
    padding-top: 100px;
    height: auto;
    margin: auto; 
}
}

@media(max-width: 1356px) {
  .flex-right,
  .flex-left {
    flex-direction: column;
    align-items: center; 
    text-align: center; 
  }

  .feature-image {
    width: 80%; 
    height: auto;
    margin-bottom: 20px;
  }

  .feature-content {
    width: 90%;
    padding: 20px;
    font-size: 16px;
  }
}


@media(max-width:1200px){
    .westock-content img{
    width: 80%;
    padding-top: 100px;
    height: auto;
    margin: auto; 
}
}