
body {
  font-family: "Lexend", sans-serif;
}

.westock-logoimg {
  padding-top: 10px;
  margin: auto;
}

.westock_tagimg {
  padding-bottom: 100px;
}

.westock-content {
  width: 80%;
  margin: auto;
  line-height: 2em;
  font-weight: 400;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 300px;
}

.westock-content p {
  text-align: justify;
  padding-bottom: 100px;
}

.westock-features {
  padding-bottom: 100px;
  font-weight: 400;
  font-family: "Lexend";
}

.worlds_most {
  width: 60%;
  padding: 100px 0;
  margin: auto;
}
.featurehead {
  margin: 100px;
  font-weight: 800;
  font-family: "Lexend";
}

.feature-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.flex-right,
.flex-left {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.flex-left {
  flex-direction: row-reverse;
}

.feature-content {
  width: 80%;
  line-height: 2em;
  padding: 50px;
  font-size: 20px;
  margin: auto;
  text-align: justify;
}

.feature-image {
  width: 45%;
  max-width: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0;
  padding: 0;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 150px;
  background-color: #ffffff;
  font-family: 'Lexend', sans-serif;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-left {
  width: 40%;
  padding: 20px;
}

.contact-left h1 {
  font-size: 2.5rem;
  color: #23b637;
  margin-bottom: 20px;
}

.contact-left p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
  color: #666;
}

.contact-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.input-field {
  flex: 1;
  padding: 12px 18px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f7f7f7;
  width: 100%;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-btn {
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #45c45a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  width: 180px;
  align-self: center;
}

.submit-btn:hover {
  background-color: #40b44f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-left,
  .contact-form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 1356px) {
  .flex-right,
  .flex-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .feature-image {
    width: 80%;
    height: auto;
  }

  .feature-content {
    width: 90%;
    padding: 20px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .westock-content img {
    width: 80%;
    height: auto;
    margin: auto;
  }
}

@media (max-width: 856px) {
  .feature-content {
    width: 100%;
    padding: 30px;
    font-size: 16px;
  }

  .westock-img img,
  .westock-content img {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
  }

  .worlds_most {
    font-size: 1.2rem;
    width: 100%;
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .westock-content {
    width: 90%;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 100px;
    line-height: 1.6em;
  }

  .westock_tagimg{
    padding-bottom: 10px;
  }

  .feature-container {
    gap: 60px;
  }

  .feature-content {
    width: 90%;
    padding: 15px;
    font-size: 16px;
  }

  .feature-image {
    width: 90%;
    height: auto;
  }

  .flex-right,
  .flex-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
