
.togo-nav-navbar {
  background-color:#0097b2;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.togo-nav-container {
  padding: 0 16px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: 70px;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
}

.togo-nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.togo-nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 20px;
  font-weight: 500;
  transition: ease-in-out 0.2s;
}

.togo-nav-links .togo-nav-item:hover {
  color:#0097b2;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.togo-nav-logo {
  width: 70px;
  margin-left: 10px;
}

.togo-nav-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.togo-nav-hamburger span {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  transition: 0.3s;
}

.togo-nav-hamburger.togo-nav-active span:nth-child(1) {
  transform: rotate(60deg) translate(16px, -8px);
}

.togo-nav-hamburger.togo-nav-active span:nth-child(2) {
  opacity: 0;
}

.togo-nav-hamburger.togo-nav-active span:nth-child(3) {
  transform: rotate(-60deg) translate(8px, -2px);
}

@media (max-width: 1368px) {
  .togo-nav-navbar {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .togo-nav-links {
    position: absolute;
    top: 80px;
    right: 50px;
    left: 50px;
    background-color: rgb(219, 219, 219);
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
    margin-left: 50px;
    height: 65px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
  }

  .togo-nav-links a {
    font-size: 20px;
    font-weight: 400;
    color: #0097b2;
  }

  .togo-nav-links.togo-nav-open {
    opacity: 1;
    background-color: #ffffff;
    pointer-events: auto;
    transform: translateY(0);
  }

  .togo-nav-links li {
    margin: 5px 0;
    color: white;
  }

  .togo-nav-hamburger {
    display: flex;
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .togo-nav-links {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    right: 10px;
    left: 10px;
    height: 50px;
  }

  .togo-nav-links a {
    font-size: 10px;
    font-weight: 500;
  }

  .togo-nav-links .togo-nav-item:hover {
    padding: 0px;
    background-color:#0097b2;
    padding: 10px;
    color: white
  }
}
